.global-container {
    text-align: center;
    background-color: rgb(0, 255, 30);
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.3fr 1fr 0.3fr 2fr; /* title, warning, datapad, message, actionpad */
    border: 15px outset rgb(0, 255, 30);
    border-radius: 20px;
    gap: 5px;
}

.data-pad-camera-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.solid { /* .solid and .flicker take care of the flickering of things */
    color: rgb(0, 255, 30);
    text-shadow: none;
}

.flicker {
    color: transparent;
    text-shadow: 0 0 3px rgb(26, 113, 0);
}

@media screen and (max-width: 960px) {
    .global-container {
        width: 100%;
        margin: 0;
        border: none;
        border-radius: none;
    }

}

