/* @font-face {
  font-family: 'game_over';
  src: local('game_over'),
       url('../assets/fonts/game_over.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'game_over';
  src: url('game_over.ttf');
  src: local('☺︎'),
    url('../assets/fonts/game_over.ttf') format("truetype")
    
} */

body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: rgb(0, 255, 30);
}
