@import url('../styles/Font.css');

body {
  margin: 0;
  font-family: gameplay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: rgb(0, 255, 30);
  background-image: url(../assets/images/wallBackground.jpg);
  background-repeat: no-repeat;
  background-position:right;
  overflow:auto;
}

::-webkit-scrollbar {
  display: none;
}